<header>
  <nav class="flex justify-between text-3xl my-3"
       style="background-color: lightskyblue">
    <div class="container">
      <a class="navbar-brand">
        <span style="color:red">File</span>gram
      </a>
      <ul class="nav nav-pills">
        <li class="nav-item">Об авторе</li>
        <li class="nav-item">Технологии</li>
        <li class="nav-item">Загрузить контент</li>
        <li class="nav-item">Изменить пароль</li>
        <li class="nav-item">Выйти</li>
      </ul>
    </div>
  </nav>
</header>
