{% extends 'base.html' %}
{% block title %}Главная страница{% endblock %}
{% block content %}
  <div class="flex justify-center flex-col items-center">
    <h1>Последние обновления на сайте</h1>
    {% for content in contents %}
      <div class="flex rounded-3 border-2 p-3 mt-5">
        <img width="150"
             src="{{ url_for('static', path='file.jpg') }}"
             alt="Стонкс"
             class="mr-5">
        <div class="flex flex-col">
          <span class="text-2xl font-bold">{{ content.title }}</span>
          <span class="text-lg">Описание: {{ content.description }}</span>
          <span class="text-lg">Теги: {{ content.tags }}</span>
          <span class="text-lg">Тип файла: {{ content.content_class }}</span>
          <span class="text-lg">Расширение файла: {{ content.content_extension }}</span>
          <span class="text-lg">Загрузил: {{ content.author.username }}</span>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}
  